/*
TIPOS DE VARIABLES EN SASS
    NUMBERS: Numeros que pueden o no contener la unidad (23px, 2rem)
    STRINGS: Cadenas que pueden o no definirse con comillas ("hola", 'hola', hola)
    COLORS: Colores que pueden ser definidos con su formato hexadecimal o con su nombre (#000, black)
    BOOLEAN: Datos de tipo booleano
    NULL
    LIST OF VALUES: Lista de valores que pueden ser separados mediante comas o espacios en blanco y que pueden
                    estar encapsulados en corchetes o no ((grey, "arial, 23px, "left", true, null);)
    MAPS: Lista de valores que asocia un nombre a cada dato((background: red, "foreground": pink);)
*/
@use 'sass:map';
@use 'sass:list';


//VARIABLES DE NUMERO//
$menuBar-height: 200px;
$menuBar-width: 100%;

//VARIABLES DE CADENA//
$font-menuBar: sans-serif;
$font-footer: "raleway";

//VARIABLES DE COLORES//
$grey : #bbbbbb;
$header-background: $grey;
$link-normal: #000;
$link-visited: #00f;
$link-active: #0f0;
$link-hover: #f00;

//VARIABLES BOOLEANAS//
$menubar-deploy: false;
$isInMainHome: true;

//LISTA DE VALORES//
$webColors: (darkgrey, blue, green, lightgreen);

//MAPAS DE VALORES//
$webFonts: (
    menuBar: $font-menuBar,
    main: "Times New Roman",
    footer: $font-footer);

//INTERPOLACIONES//
$button-type: "error";
$btn-color: #f00;

.btn-#{$button-type} {
    background-color: $btn-color;
}

//INTERPOLACION EN FUNCIONES//
$fondo: "img/fondos/....."; //Ruta de una imagen//

.container {
    background-image: url('#{$fondo}');
}

//ANIDAMIENTOS//
a {
    color: $link-normal;
    text-decoration: none;

    //Con el & conseguimos referenciar al padre
    &:hover {
        color: $link-hover;
    }

    &:visited {
        color: $link-visited;
    }

    &:active {
        color: $link-active;
    }
}

header {
    font-family: map-get($webFonts , 'menuBar' );
    background-color: list.nth($webColors, 1);
}

main {
    font-family: map-get($webFonts , 'footer' );
    background-color: list.nth($webColors , 4);
}

footer {
    font-family: map-get($webFonts, 'menuBar' );
    background-color: list.nth($webColors , 2);
}

header, main, footer{
    border: 2px solid black;
}