//SECTION IMPLEMENTACION DE USOS//
@use 'sass:list';
@use 'sass:map';
//!SECTION //

//SECTION DECLARACION DE VARIABLES//
$img-width: 300px;
$img-height: 150px;
//Altura de la barra de menu
$nav-height:50px;
//Colores generales de la pagina
$web-colors: (white,
    pink,
    black);
//Colores para los diferentes stados de los link de la pagina
$link-colors:(hover: green,
    visited: blue,
    active: purple);
//Tamaño de la letra resaltada
$text-resaltado: 1.3em;
//!SECTION //

//SECTION CODIGO CSS//
/*RESET DE VALORES*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/*Elementos con display flex*/
header,
nav,
main,
.Imagenes {
    display: flex;
}

/*Centrado de los hijos de estos elementos*/
header,
main {
    justify-content: center;
}

/*Elementos hijo de los generales con tamaño de 80% y alineacion vertical al centro*/
nav,
.Imagenes {
    flex-flow: row wrap;
    align-items: center;
    width: 80%;
}

//Desglose de los elementos individuales del HEADER//
header {
    nav {
        background-color: list.nth($web-colors, 2);
        height: $nav-height;
        padding-left: 30px;

        .elementMenu {
            list-style: none;
            margin: 0px 25px;

            a {
                text-decoration: none;
                color: black;

                &:hover {
                    font-size: $text-resaltado - 0.1em;
                    color: map-get($link-colors, hover);
                }

                &:visited {
                    color: map-get($link-colors, visited);
                }

                &:active {
                    color: map-get($link-colors, active);
                }
            }
        }

        #Inicio {
            a {
                color: list.nth($web-colors, 1);
                font-weight: bold;
                font-size: $text-resaltado;
            }
        }
    }
}

//Desglose de los elementos individuales del MAIN//
main {

    .Imagenes {
        margin-top: 25px;

        .Imagen {
            display: inline-flex;
            flex-flow: column wrap;
            align-items: center;
            padding: 5px 20px;
            margin: 0px 10px;
            border: 2px solid black;
            border-radius: 15px;

            img {
                width: $img-width;
                height: $img-height;
                border-radius: 20px;
            }

            figcaption {
                font-style: italic;
            }
        }
    }
}
//!SECTION //